<header>
  <!-- Accessibility: 
    "The banner landmark is used to identify the header of a webpage, which typically contains the website's logo, navigation, and > > search input. When the <header> element is not used as a child of the <main> element or another sectioning element, it is assigned > the banner role." - https://developer.mozilla.org/en-US/blog/aria-accessibility-html-landmark-roles/#the_banner_landmark

    Thus I will use body as a selector instead of app-component. If this cause issue, I will revert the change and explicitly set the aria role of the header.
  
  -->
  <!--
    Use <button> for toggling the nav, not <a>. Using URL fragments to toggle UI undermine the standard navigation mechanism and the user's intention:

    * The user navigate to a page using the sidebar
    * If the user then opens the menu, the initial intention is lost because the URL fragment changes
    * If the link is shared/bookmarked, this will open navigation by default, which can be confusing.

    See also: https://www.a11yproject.com/posts/creating-valid-and-accessible-links/#when-should-you-use-a-button-instead%3F
  -->
  <h1>{{ title }} (should not be blank anymore)</h1>
</header>

  <!-- todo: replace the sidenav with an ionic component -->
<nav>
  <li><a [routerLink]="'/home'">Home</a></li>
  <li><a [routerLink]="'/user'">User</a></li>
  <li><a [routerLink]="'/recipes'">Recipes</a></li>
  <li><a [routerLink]="'/shopping'">Shopping</a></li>
  <li><a [routerLink]="'/planner'">Planner</a></li>
  <li><a [routerLink]="'/pantry'">Pantry</a></li>
  <li><a [routerLink]="'/tips'">Tips</a></li>
  <li><a [routerLink]="'/tools'">Tools</a></li>
  <li><a [routerLink]="'/trophy'">Trophy</a></li>
  <li><a [routerLink]="'/settings'">Settings</a></li>
  <li><a [routerLink]="'/partners'">Partners</a></li>
  <li><a [routerLink]="'/about'">About</a></li>
</nav>

<main>
  <router-outlet><!-- 
    this is where the router will render the component
    to make the route work we need to add them to the routing configuration file
  --></router-outlet> 
</main>

<footer>Some useful links here</footer>