<header>
  <a [routerLink]="['/']"><h1>{{ title }} (did it work ?)</h1></a>
</header>

  <!-- todo: replace the sidenav with an ionic component -->
<nav>
  <li><a [routerLink]="'/home'">Home</a></li>
  <li><a [routerLink]="'/user'">User</a></li>
  <li><a [routerLink]="'/recipes'">Recipes</a></li>
  <li><a [routerLink]="'/shopping'">Shopping</a></li>
  <li><a [routerLink]="'/planner'">Planner</a></li>
  <li><a [routerLink]="'/pantry'">Pantry</a></li>
  <li><a [routerLink]="'/tips'">Tips</a></li>
  <li><a [routerLink]="'/tools'">Tools</a></li>
  <li><a [routerLink]="'/trophy'">Trophy</a></li>
  <li><a [routerLink]="'/settings'">Settings</a></li>
  <li><a [routerLink]="'/partners'">Partners</a></li>
  <li><a [routerLink]="'/about'">About</a></li>
</nav>

<main>
  <router-outlet></router-outlet> 
</main>

<footer>Some useful links here</footer>