header {
    background-color: var(--app-header-background);
    color: var(--app-header-foreground);
    grid-area: header;
}

nav {
    background-color: var(--app-nav-background);
    color: var(--app-nav-foreground);
    grid-area: nav;
}

main {
    color: var(--app-foreground);
    background-color: var(--app-background);
    grid-area: main;
    overflow: scroll;
    display: flex column;
    align-items: center;
}

footer {
    color: var(--app-footer-foreground);
    background-color: var(--app-footer-background);
    grid-area: footer;
    display: flex;
    gap: 1ch;
    list-style: none;
    justify-content: center;
    padding: 1ch;
}
