<section>
    <form>
      <!-- #filter is a template variable. We use it to get access to  the input as its value. -->
      <input type="text" placeholder="Search recipes" #filter>
      <!-- By binding to the click event on the button, we can call the filterResults function. The argument to the function is the value property of the filter template variable. Specifically, the .value property from the input HTML element. -->
      <button class="primary" type="button" (click)="filterResults(filter.value)">Search</button>
    </form>
</section>
<section class="results">
<app-recipe *ngFor="let recipe of filteredRecipeList" [recipe]="recipe"></app-recipe>
</section>