<!-- Accessing the data with a call to the RecipeService
Note: the properties are accessed with the optional chaining operator "?"
This ensure that if the value is null or undefined, the expression will stop and the value will be displayed as empty instead of crashing the app.
-->

<article>
    <img class="recipe-photo" [src]="recipe?.photo"
      alt="photo of {{recipe?.name}}"/>
    <section class="recipe-description">
      <h2 class="recipe-heading">{{ recipe?.name }}</h2>
      <p>
        {{ recipe?.instructions }}
      </p>
    </section>

    <!--
      (submit)="submitRecipeNotes()" is an event handler. Angular uses parentheses syntax around the event name to create define events in the template code. The code on the right hand side of the equals sign is the code that should be executed when this event is triggered.browser events and custom events can be bound.
    -->
    <form [formGroup]="recipeNotesForm" (submit)="submitRecipeNotes()">
      <label for="comment">comment</label>
      <input id="comment" type="text" formControlName="comment">

      <label for="rating">rating</label>
      <input id="rating" type="text" formControlName="rating">

      <button type="submit" class="primary">send notes</button>
    </form>
  </article>